.notfound {
  flex: 1;
  background-color: $white;
  display: grid;
  place-items: center;
  .mainbox {
    margin: auto;
    width: 600px;
    &__number {
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $orange;
      font-family: "Nunito Sans", sans-serif;
      .err {
        font-size: 200px;
      }
    }
    .msg {
      text-align: center;
      font-family: "Nunito Sans", sans-serif;
      font-size: 20px;
      margin-top: 20px;
      line-height: 30px;
      a {
        text-decoration: none;
        color: $orange;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
.far {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
