.admin-container {
  flex: 1;
  overflow-y: scroll;
  form {
    max-width: 350px;
  }
&--textarea{
  form{
    max-width: 500px;
  }
}
  &__inner {
    padding: map-get($spacers, 3)
      map-get($spacers, 4);
  }
}
