.admin-container {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;

  .search-area{
    display: flex;
    align-items: start;
    gap: 10px;
  }
  &--form {
    min-width: 400px;
  }

  &--textarea {
    form {
      margin: 0 auto;
      max-width: 500px;
    }
  }
  &--no-flex-grow {
    flex: none;
  }
  &__inner {
    padding: map-get($spacers, 3) map-get($spacers, 4);
  }
  &__header{
    display: flex;
    align-items: center;
    font-size: $h5-font-size;
    font-family: $font-family-poppins;
    font-weight: $font-weight-bold;
    color: $dark;
    padding: map-get($spacers, 3) 0px;
  }
  &--pb-5{
    padding-bottom: map-get($spacers, 5);
  }
  .col-12{
    display: flex;
    justify-content: space-between;
  }
}
