.customer-project-container {
    flex: 1;
    overflow-y: scroll;
    form {
      width: 350px;
      .label-container {
        display: flex;
        align-items: center;
        height: 35px;
        label {
          font-weight: $font-weight-bolder;
          font-size: 18px;
          text-align: center;
        }
        span {
          color: red;
          margin-left: map-get($spacers, 3);
          text-align: center;
        }
      }
      .form-dropdown-btn {
        margin-bottom: map-get($spacers, 3);
      }
      .user-dropdown {
        color: $dark;
        box-shadow: $box-shadow-sm;
        border-radius: $border-radius-sm;
        background-color: $white;
        border: 1px solid $gray-300;
      }
    }
  }
  