.login_container {
  width: 100%;
  padding-top: 100px;
  .login-form {
    width: 350px;
    margin: 0 auto;
    height: 100%;
    &__header {
      font-family: $font-family-roboto;
      font-weight: $font-weight-normal;
      font-size: $h2-font-size;
      color: $dark;
      display: flex;
      justify-content: center;
      margin-bottom: map-get($spacers, 5);
    }
    &__line {
      margin-top: map-get($spacers, 3);
      margin-bottom: map-get($spacers, 3);
    }
  }
}
