.login_container {
  width: 500px;
  height: 400px;
  margin: 0 auto;
  margin-top: 150px;

  .login_form {
    margin: 0 auto;
    width: 300px;
    height: 100%;
    .login_input {
      margin-bottom: map-get($spacers, 3);
      height: 70px;
    }
    .welcome {
      font-weight: bold;
      font-size: 25px;
      display: flex;
      justify-content: center;
      margin-bottom: map-get($spacers, 3);
      margin-top: map-get($spacers, 3);
    }
    .login_input{
        margin-bottom: map-get($spacers, 2);
    }
    .line {
      width: 300px;
      margin-top: map-get($spacers, 3);
      margin-bottom: map-get($spacers, 3);
    }
  }
}
