.admin-container {
  .piechart-container {
    width: 100%;
    font-family: "Roboto", sans-serif;
    margin-top: 5px;
    border: 1px solid $gray-200;
    box-shadow: $box-shadow-sm;
    border-radius: 10px;
    overflow: hidden;
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 400px;
      
      &__piechart {
        
        &--chart {
          width: 350px;
          padding: 20px;
        }
        &--border {
          border: none;
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 50%;
          color: $dark;
          h3 {
            margin-top: 25%;
            margin-bottom: 25px;
            font-weight: bold;
          }
          label {
            margin-bottom: 20px;
            font-size: 15px;
            
          }
        }
      }
    }
  }
}