$font-family-sans-serif: system-ui, -apple-system;
$font-family-monospace: "Liberation Mono", "Courier New", monospace;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;

$text-muted:                  $gray-600 !default;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

// scss-doc-start heading size
$heading-size: (
  "h1": $h1-font-size,
  "h2": $h2-font-size,
  "h3": $h3-font-size,
  "h4": $h4-font-size,
  "h5": $h5-font-size,
  "h6": $h6-font-size,
);
// scss-doc-end heading size