.alert {
  min-width: 200px;
  padding: map-get($spacers, 3);
  position: fixed;
  left: calc(50%);
  text-align: center;
  top: 30px;
  font-size: $h5-font-size;
  border-radius: $border-radius-sm;
  cursor: pointer;

  &--success {
    color: $white;
    background-color: $success;
  }
  &--info {
    color: $white;
    background-color: $info;
  }
  &--danger {
    color: $white;
    background-color: $danger;
  }
  &--warning {
    color: $dark;
    background-color: $warning;
  }
}

.alert-bar{
  background-color: $primary;
  padding: map-get($spacers, 3);
  text-align: center;
  font-family: $font-family-roboto;
  font-size: $h5-font-size;
  font-weight: $font-weight-normal;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}