.btn-square-primary {
  @include interactive("blue");
  width: 50px;
  height: 50px;
  display: grid;
  padding-left: map-get($spacers, 3);
  padding-right: map-get($spacers, 3);
  place-items: center;
  border-radius: $border-radius-lg;
  outline: transparent;
  border: transparent;
  font-size: $h3-font-size;
  color: $white;
}
