.app {
  display: flex;
  width: 100%;
  &--dark .fetching {
    background-color: #2b2d31;
    color: white;
  }
  &--dark .sidebar {
    background-color: #2b2d31;
    color: $white;
  }
  &--dark .sidebar__action-list {
    background-color: #313338;
    border: none;
  }
  &--dark .sidebar__profile {
    background-color: #232428;
  }
  &--dark .sidebar-dropdown * {
    background-color: #2b2d31;
    color: $white;
  }
  &--dark .admin-container {
    background-color: #2b2d31;
    color: $white;
  }
  &--dark .text {
    color: white !important;
  }
  &--dark .fieldset-timer * {
    color: white !important;
  }
  &--dark .message__description {
    background-color: #313338;
  }
  &--dark .message-file-attachment {
    background-color: #313338;
  }
  &--dark textarea {
    background-color: #313338;
  }
  &--dark input {
    background-color: #313338;
    color: $white;
  }
  &--dark .form-dropdown * {
    background-color: #313338;
    color: $white;
  }
  &--dark .form-dropdown-btn {
    background-color: #313338;
    color: $white;
  }
  &--dark .login_container {
    background-color: #2b2d31;
    color: $white;
  }
  &--dark .login-form {
    h1 {
      color: $white;
    }
    input {
      color: $white;
    }
    ::placeholder {
      color: $white;
      opacity: 60%;
    }
  }
  &--dark .notfound {
    background-color: #232428;
    .msg {
      color: $white;
    }
  }
  &--dark {
    /* Firefox */
    
    * {
      scrollbar-width: thin;
      scrollbar-color: #e9ecef $white;
    }

    /* Chrome, Edge and Safari */
    *::-webkit-scrollbar {
      width: 7px;
      width: 7px;
    }
    *::-webkit-scrollbar-track {
      border-radius: 5px;
      background-color: #2b2d31;
    }

    *::-webkit-scrollbar-track:hover {
      background-color: #2b2d31;
    }

    *::-webkit-scrollbar-track:active {
      background-color: #2b2d31;
    }

    *::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: #141415;
    }

    *::-webkit-scrollbar-thumb:hover {
      background-color: #141415;
    }

    *::-webkit-scrollbar-thumb:active {
      background-color: #141415;
    }
  }
}
