.com_input_container {
    margin-bottom: map-get($spacers, 3 );
  .lable_container {
    display: flex;
    align-items: center;
    height: 35px;
    label {
      font-size: 18px;
      text-align: center;
    }
    .error_message {
      color: red;
      margin-left: map-get($spacers, 3);
      text-align: center;
    }
  }
  .input_container {
    width: 300px;
    height: 45px;
    // border-color: $gray-200;
    input {
      width: 100%;
      height: 100%;
      outline: none;
      font-size: 15px;
      padding: 0px map-get($spacers, 3);
    }
  }
}
