.fieldset-timer {
  border-top: map-get($border-widths, 1) solid $gray-300;
  .legend-timer {
    padding: map-get($spacers, 3) 0px;
    text-align: center;
    color: $dark;
    &--h4{
      font-size: $h4-font-size;
    }
  }
}
.datetime-input {
  border: 1px solid red;
}
