.icon-input {
  margin: map-get($spacers, 3) 0px;
  &__inner {
    overflow: hidden;
    border: 1px solid $orange;
    border-radius: $border-radius-sm;
    display: flex;
    width: 100%;
    height: 55px;

    input {
      width: 85%;
      height: 100%;
      border-color: transparent;
      outline-color: transparent;
      font-size: $h5-font-size;
      padding: 0px map-get($spacers, 3);
    }
  }
  &__icon {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: $orange;
  }
  &__error {
    margin-top: map-get($spacers, 2);
    color: $danger;
    font-size: $h5-font-size;
  }
}
