.react-responsive-modal-modal {
  background: $white;
  border-radius: $border-radius-sm;
  .modal {
    width: 400px;
    &__title {
      font-size: $h4-font-size;
      font-family: $font-family-poppins;
      font-weight: $font-weight-semibold;
    }
    &__desc {
      margin: map-get($spacers, 3) 0px;
      line-height: $line-height-base;
      font-size: $h6-font-size;
      font-family: $font-family-roboto;
      font-weight: $font-weight-normal;
    }
  }
}
