.nav_container {
  border-bottom: 1px solid $gray-300;
  display: flex;
  min-height: 60px;
  align-items: center;
  .icon {
    margin-left: map-get($spacers, 4);
  }
  .text {
    margin-left: map-get($spacers, 2);
    font-weight: $font-weight-semibold;
    font-family: $font-family-roboto;
    font-size: $h5-font-size;
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  .text--link {
    margin-left: map-get($spacers, 4);
    font-weight: $font-weight-normal;
    font-family: $font-family-roboto;
    font-size: $h5-font-size;
    text-decoration: none;
    color: $dark;
    svg{
      margin-right: map-get($spacers, 2);
    }
  }
  .placer {
    margin-right: map-get($spacers, 4);
  }
}
