.ticket-list {
  border: map-get($border-widths, 1) solid $gray-200;
  border-radius: $border-radius-sm;
  padding: map-get($spacers, 3);
  box-shadow: $box-shadow-sm;
  &__desc {
    text-align: left;
    font-size: $h4-font-size;
    font-weight: $font-weight-bold;
    font-family: $font-family-poppins;
    text-transform: capitalize;
    padding:0px map-get($spacers, 1);
  }
  &__sub-desc{
    text-align: left;
    font-size: $h6-font-size;
    font-weight: $font-weight-normal;
    font-family: $font-family-roboto;
    text-transform: capitalize;
    padding:0px map-get($spacers, 1);
    margin-top: map-get($spacers, 2);
    color: $gray-800;
    display: flex;
    align-items: center;
    &--dark{
      color: $white;
    }
    svg{
      margin-right: map-get($spacers, 1);
    }
  }
  &__info {
    display: flex; 
    align-items: end;
    margin: map-get($spacers, 1);
    font-size: $h6-font-size;
    font-weight: $font-weight-normal;
    font-family: $font-family-roboto;
    svg{
      margin-right: map-get($spacers, 1);
    }
    &--center{
      margin-top: 0px !important;
      align-items: center;
      label{
        margin-left: map-get($spacers, 2);
      }
    }
  }
  &__status {
    display: flex;
    flex-wrap: wrap;  
    margin: map-get($spacers, 3) 0px;
    &--mt-0{
      margin-top: 0px;
    }
  }
  &--dark{
    background-color: #313338;
    color: $white;
  }
}
