.ticket-list {
  border: map-get($border-widths, 1) solid $gray-200;
  border-radius: $border-radius-sm;
  display: flex;
  margin: map-get($spacers, 3);
  padding: map-get($spacers, 3);
  height: 130px;
  &__info {
    width: 85%;
    &__desc {
      height: 60%;
      display: flex;
      align-items: center;
    }
    &__status {
      display: flex;
      height: 40%;
      align-items: center;
      div {
        width: calc(70% / 5);
        height: 100%;
        display: flex;
        align-items: center;
        label {
          margin-left: map-get($spacers, 2);
        }
      }
    }
  }
  &__btn {
    width: 15%;
    display: flex;
    justify-content: right;
    align-items: center;
  }
}
